<?xml version="1.0"?>

<xacro:include filename="$(find jackal_world)/urdf/anchor_template.urdf.xacro" />

<xacro:uwb_anchor id="0" link_name="base_link"/>

<!-- <xacro:macro name="uwb_anchor" params="id link_name"> -->
    <!-- <robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uwb_anchor0">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/uwb_anchor0</robotNamespace>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin name='libgtec_uwb_plugin' filename='libgtec_uwb_plugin.so'>
                <update_rate>25</update_rate>
                <nlosSoftWallWidth>0.25</nlosSoftWallWidth>
                <tag_z_offset>1.5</tag_z_offset>
                <tag_link>tag_0</tag_link>
                <anchor_prefix>uwb_anchor</anchor_prefix>
                <all_los>false</all_los>
                <tag_id>0</tag_id>
            </plugin>
        </gazebo>

        <link name="base_link">
            <inertial>
                <mass value="1" />
                <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
            </inertial>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>cddfdfdfdfdfdfd
                    <mesh filename="package://jackal_world/models/DecaWave/meshes/Decawave.stl"/>
                    
                </geometry>
            </visual>
        </link>

        <gazebo reference="base_link">
            <material>Gazebo/White</material>
        </gazebo>
    </robot> -->
<!-- </xacro:macro> -->