<launch>
    <arg name="ns" default="drone2" />
    <arg name="anchor_id" default="100"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />

    <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />


  <group ns="$(arg ns)">
      <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
       <arg name="name" value="$(arg ns)" />
       <arg name="tf_prefix" value="$(arg ns)" />
       <arg name="model" value="$(arg model)" />
       <arg name="x" value="$(arg x)" />
       <arg name="y" value="$(arg y)" />
       <arg name="z" value="$(arg z)" />
     </include>

     <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <!-- <remap from="cmd_vel" to="$(arg ns)/cmd_vel" /> -->
     </node>

  </group>
</launch>
