<launch>
  <arg name="ns" default="Jackal" />

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />
  <arg name="joystick" default="true" />

  <arg name="right_id" default="0" />
  <arg name="left_id" default="1" />
  <arg name="anchor_id" default="-1" />

  <arg name="robot_name" default="jackal"/>

  <!-- Configuration of Jackal which you would like to simulate.
      See jackal_description for details. -->
  <arg name="config" default="base" />

  <group ns="$(arg ns)"> 
    <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <include file="$(find jackal_world)/launch/descriptions/description_with_anchor.launch">
      <arg name="config" value="$(arg config)" />

      <arg name="right_id" value="$(arg right_id)" />
      <arg name="left_id" value="$(arg left_id)" />
      <arg name="anchor_id" value="$(arg anchor_id)" />
    </include>
    <include file="$(find jackal_world)/launch/control/control.launch">
      <arg name="ns" default="$(arg ns)" />
    </include>
    <!-- <include file="$(find jackal_control)/launch/control.launch"/> -->
    <include file="$(find jackal_control)/launch/teleop.launch">
      <arg name="joystick" value="$(arg joystick)" />
    </include>

    <!-- Spawn Jackal -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
                args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />

    <node pkg="tf" type="static_transform_publisher" name="odom_world" args="0 0 0 0 0 0 /world $(arg ns)/odom 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_odom" args="0 0 0 0 0 0 $(arg ns)/odom $(arg ns)/base_link 1000"/>

  </group>
</launch>