<launch>
    <arg name="ns" default="drone2" />
    <arg name="robot_name" default="$(arg ns)"/>
    <arg name="anchor_id" default="100"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />

    <group ns="$(arg ns)">

      <!-- send robot urdf to param server -->
      <param name="robot_description"
        command="$(find xacro)/xacro $(find jackal_world)/urdf/custom_sjtu_drone.urdf.xacro anchor_id:=$(arg anchor_id) ns:=$(arg ns)" />

      <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
      <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)"
        respawn="false" output="screen" />

      <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  </group>
</launch>
