<launch>

    <include file="$(find jackal_gazebo)/launch/empty_world.launch">
        <arg name="joystick" value="false"/>
    </include>
    

    <group ns="uwb_anchor0">
    <param name="robot_description" command="$(find xacro)/xacro '$(find jackal_world)/urdf/anchor.urdf.xacro'" />
    <node name="uwb_anchor0_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 0  -model uwb_anchor0 -param robot_description"/> 
    

    <node name="uwb_anchor0_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" ns="uwb_anchor0">
        <remap from="/uwb_anchor0/uwb_anchor0/joint_states" to="/uwb_anchor0/joint_states" />
    </node> 
    </group>

      <!-- <node pkg="tf" type="static_transform_publisher" name="jackal_connection" 
          args="0 0 0 0 0 0 /base_link /uwb_anchor0/base_link 1">
    </node> -->
    
</launch>